@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 1em 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

.mt-05 {
  margin-top: 0.5em;
}

.mt-1 {
  margin-top: 1em;
}

.font-size-xxxs {
  font-size: 0.75em;
}

.font-size-xxs {
  font-size: 0.8em;
}

.font-size-xs {
  font-size: 0.85em;
}

.font-size-s {
  font-size: 0.9em;
}

.font-size-m {
  font-size: 1em;
}

.font-size-l {
  font-size: 1.1em;
}

.font-size-xl {
  font-size: 1.15em;
}

.font-size-xxl {
  font-size: 1.2em;
}

.font-size-xxxl {
  font-size: 1.25em;
}

.italic-style {
  font-style: italic;
}

.font-weight--thin {
  font-weight: 100;
}

.font-weight--light {
  font-weight: 300;
}

.font-weight--regular {
  font-weight: 400;
}

.font-weight--medium {
  font-weight: 500;
}

.font-weight--bold {
  font-weight: 700;
}

.font-weight--black {
  font-weight: 900;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.electrolize {
  font-family: "Electrolize", sans-serif;
}

/* colores compartidos */
:root {
  --tag: rgb(103, 47, 207);
  --hr: rgba(185, 185, 185, 0.569);
  --btn-border: blueviolet;
  --btn-bg: blueviolet;
  --btn-bg-inactive: rgb(187, 183, 183);
  --btn-bg-hov: white;
  --btn-text: white;
  --btn-text-hov: blueviolet;
  --nav-item--accent: #c587ff;
}

/* body */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* main */
main {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 90%;
  max-width: 1320px;
  padding: 2em;
  background-color: white;
}

.main_subtitle {
  margin: 2em 1em 0 1em;
  text-align: center;
  font-size: 1.5em;
}

@media (min-width: 768px) {
  main {
    width: 90%;
  }
}

@media (min-width: 1280px) {
  main {
    width: 100%;
  }
}

/* navbar */
.navbar {
  background-color: #333;
  padding: 1em;
  display: flex;
  justify-content: space-around;
}

.navbar-body {
  width: 95%;
  max-width: 1200px;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .navbar-body {
    width: 90%;
  }
}

@media (min-width: 1280px) {
  .navbar-body {
    width: 100%;
  }
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 0.9em;
  word-break: keep-all;
  margin: 1em;
}

.nav-item:hover {
  color: #ddd;
}

@media (min-width: 768px) {
  .nav-item {
    font-size: 1em;
  }
}

@media (min-width: 1280px) {
  .nav-item {
    font-size: 1.2em;
  }
}

/* footer */
.footer {
  background-color: black;
  color: white;
  padding: 2em;
  display: flex;
  justify-content: center;
}

.footer-body {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-item {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  margin: 0.25em;
  font-size: 1em;
}

/* buttons */
.btn-section {
  margin: 2em;
  display: flex;
  align-self: center;
}

.btn {
  border-radius: 3em;
  border: 2px solid var(--btn-border);
  padding: 1em 2em;
  background-color: var(--btn-bg);
  color: var(--btn-text);
}

.btn:hover {
  /* border-radius: 3em; */
  border: 2px solid var(--btn-border);
  padding: 1em 2em;
  background-color: white;
  color: var(--btn-text-hov);
}

.btn-inactive {
  border-radius: 3em;
  border: 2px solid var(--btn-bg-inactive);
  padding: 1em 2em;
  background-color: var(--btn-bg-inactive);
  color: var(--btn-text);
  pointer-events: none;
}

.advertising_h300 {
  height: 300px;
  background-color: rgb(243, 243, 243);
}

/* for use */
@media (max-width: 480px) {}

@media (min-width: 768px) {}

@media (min-width: 1280px) {}