* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 1em 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

/* colores compartidos */
:root {
  --tag: rgb(179, 179, 179);
  --hr: rgba(185, 185, 185, 0.569);
  /* --color-acento: #e74c3c; */
  /* --color-texto-principal: #333333; */
  /* --color-fondo: #f5f5f5; */
}

/* body */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  /* background-color: red; */
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* main */
main {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 80%;
  max-width: 1200px;
  padding: 2em;
  background-color: white;
}

@media (min-width: 768px) {
  main {
    width: 90%;
  }
}

@media (min-width: 1280px) {
  main {
    width: 100%;
  }
}

/* navbar */
.navbar {
  background-color: #333;
  padding: 1em;
  display: flex;
  justify-content: space-around;
}

.navbar-body {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.nav-item:hover {
  color: #ddd;
}

.general-item {
  /* no va */
  background-color: rgb(0, 110, 255);
}

.internal-item {
  /* no va */
  background-color: rgb(222, 186, 255);
}

/* footer */
.footer {
  background-color: black;
  color: white;
  padding: 2em;
  display: flex;
  justify-content: center;
}

.footer-body {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-item {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  margin: 0.25em;
  font-size: 1em;
}

/* buttons */
.btn-section {
  margin: 2em;
  display: flex;
  align-self: center;
}

.btn {
  border-radius: 3em;
  border: 2px solid blueviolet;
  padding: 1em 2em;
  background-color: blueviolet;
  color: white;
}

.btn:hover {
  /* border-radius: 3em; */
  border: 2px solid blueviolet;
  padding: 1em 2em;
  background-color: white;
  color: blueviolet;
}

/* for use */
@media (max-width: 480px) {
  body {
    /* background-color: blue; */
  }
}

@media (min-width: 768px) {
  body {
    /* background-color: yellow; */
  }
}

@media (min-width: 1280px) {
  body {
    /* background-color: green; */
  }
}