.user_list {
  display: flex;
  justify-content: center;
}

.user_table {
  width: 80%;
  font-size: 0.75em;
  text-wrap: nowrap;
  text-align: center;
}

@media (min-width: 480px) {
  .user_table {
    font-size: 1em;
  }
  .table_actions {
    display: flex;
    justify-content: space-between;
  }
}