/* ---- index_content-section ---- */

.content_section {
  display: flex;
}

.section-title {
  color: var(--tag);
  font-weight: bold;
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.05em;
}

/* ---- index_content-section--left ---- */

.content_section-left {
  display: none;
}

@media (min-width: 768px) {
  .short-article--list {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    gap: 1em;
  }

  .content_section-left {
    display: block;
    width: 20%;
    padding: 1em;
  }

  .article_short {
    border-bottom: 1px solid rgb(248, 53, 248);
    display: flex;
    flex-direction: column;
    padding: 1em;
  }

  .article_short--title {
    margin: 1em 0;
  }

  .article_short--text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1em;
  }

  .article_short--link {
    align-self: flex-end;
    margin-bottom: 1em;
  }
}

/* ---- index_content-section--center ---- */

.content_section-center {
  width: 100%;
}

.article-body {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--hr);
  margin-bottom: 1em;
  gap: 0.75em;
}

.article-text {
  margin: 1em 0;
}

.article-text--each {
  margin: 1em 0;
}

.article-img {
  align-self: center;
  width: 70%;
  margin: 0.5em;
}

.article-link {
  margin: 0.25em;
  text-align: end;
}

.article-tag {
  display: flex;
}

.article-tag--each {
  color: var(--tag);
  margin: 0.25em 0;
  font-family: "Electrolize", sans-serif;
  font-weight: 600;
  font-style: normal;
}

@media (min-width: 768px) {
  .content_section-center {
    width: 60%;
    padding: 1em;
  }

  .article-body {
    padding: 1em;
  }

  .article-img {
    align-self: center;
    width: 70%;
  }

  .article-link {
    margin: 0.25em;
    text-align: end;
  }
}

/* ---- index_content-section--right ---- */

.content_section-right {
  display: none;
}

@media (min-width: 768px) {

  .content_section-right {
    display: block;
    width: 20%;
    padding: 1em;
  }

  .section_list {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    margin: 1em 0;
    text-align: end;
  }
}

/* ------ each-article ------ */

.article_summ-options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.article_body {
}

.article_top {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article_top--title {
  text-align: center;
  margin-top: 1.5em;
}

.article_top--title-text {
  margin: 0.75em 0;
}

.article_top--title-tag {
  color: gray;
  font-weight: 900;
}

.article_top--title-date {
  font-style: italic;
  margin: 0.5em
}

.article_top--img {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.article_top--img-main {
  width: 75%;
}

.article_top--summ {
  margin: 0 1.5em;
  font-weight: 500;
  line-height: 1.5em;
}

.article_hr {
  margin: 2.75em;
}

.article-content {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.article-content--each {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-content--img {
  width: 90%;
  align-self: center;
  margin: 2.5em 0;
}

.article-content--text {
  line-height: 1.5em;
}

/* for use */

@media (max-width: 480px) {
}

@media (min-width: 768px) {
  .article-content {
    margin: 1em;
  }
}

@media (min-width: 1280px) {
}