/* ---- index_hero-section ---- */

.hero_section-body {
  text-align: center;
  padding: 1em;
  border-bottom: 1px solid blueviolet;
}

.hero_section-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hero_section-main--title {
  margin: 0.5em;
}

.hero_section-main--img {
  width: 80%;
  margin: 1em;
}

@media (min-width: 768px) {
  .hero_section-main {
    flex-direction: row;
  }

  .hero_section-main--title {
    margin: 2em;
  }

  .hero_section-main--img {
    width: 50%;
    margin: 1em;
  }
}
